@media screen and (max-width: 480px) {
	body{
	background: url(../images/bgMobile.jpg) repeat center 897px;
	background-size: 100%;
	}
	#header{
		width: 100%;
	}
	#container{
		width: 100%;
	}
	#video{	
	width: 65%;
	height: 46%;
}
	.slide{
		width:200px;
		height:100px;
	}
	.slide img {
	width:200px;
	height:100px;
	}
	.slide  input + label {
		width: 5px;
		height: 5px;
	}
	#spacer{
		width: 100%;
		justify-content: space-between;
	}
	#contacts{
		margin: 0%;
	}
}