@media screen and (max-width: 500px) {
	body{
	background: url(../images/bgMobile.jpg) repeat center 897px;
	background-size: 100%;
	}
	#header{
		width: 100%;
	}
	#container{
		width: 100%;
	}
	#spacer{
		width: 100%;
		justify-content: space-between;
	}
}